#frame-wrapper{
    margin-bottom: 100px;
}
@media screen and (min-width: 900px) {
    #frame-wrapper {
        width: 900px;
    }
}

.select {
    width: 100%;
    margin: auto;
}
@media screen and (min-width: 900px) {
    #frame {
        width: 900px;
    }
    #disciplina-container {
        display: flex;
    }
    #disciplina-container p {
        flex: 3;
    }
    #disciplina-container .select {
        flex: 4;
    }
}

.e-card-container .nao-achou {
    display: block;
    margin-left: 15px;
}
.e-card-container .item {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid rgba(50,0,0,0.6);
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0px black;
    cursor: default;
    margin: 1px;
}
.e-card-container .item .texto {
    display: inline;
    padding: 3px;
    margin: 0px 10px;
}
.e-card-container .item .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    transition: .3s background-color;
}
.e-card-container .item .remove img {
    height: 15px;
    opacity: 0;
    transition: .3s opacity;
}
.e-card-container .item:hover .remove {
    border-left: 1px solid rgba(50,0,0,0.3);
}
.e-card-container .item:hover .remove img {
    opacity: 1;
}
.e-card-container .item .remove:hover {
    background-color: rgba(255,180,180,0.5);
    cursor: pointer;
}

.button-opa {
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.red-input {
    width: 100%;
    margin-top: 15px;
}
@media screen and (min-width: 900px) {
    #texto-container {
        display: flex;
    }
    #texto-container #campo-busca{
        flex: 5;
        width: auto;
        margin: 0px 0px 0px 10px;
    }
    #texto-container .select{
        flex: 3;
        width: auto;
        margin: 0px 10px 0px 0px;
    }
}

#filtro {
    margin-top: 40px;
}
#filtro .linha {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#filtro #texto-ordem {
    display: block;
    white-space: nowrap;
    margin: 0px 10px;
}
#filtro .select {
    width: 600px;
}
@media screen and (min-width: 900px) {
    #filtro {
        display: flex;
    }
    #filtro .linha {
        flex: 3;
    }
    #texto-ordem {
        text-align: right;
    }
    #filtro .select {
        width: 250px;
    }
    #filtro label{
        display: block;
        text-align: center;
        flex: 5;
    }	
}

#button-wrapper{
    text-align: center;
}
#bpesquisa, #p2 {
    margin: 30px auto 20px auto;
    max-width: 100%;
    width: 400px;
}

.popup .window {
    overflow-y: auto;
    max-height: 100%;
}
.popup .window .button-red {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.popup .window h2 {
    margin: 5px 10px 10px;
}
.assunto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.assunto .checkslider.trail{
    margin: 10px;
}

#div-questoes .nao-achou {
    display: block;
    margin-left: 15px;
    font-weight: bold;
}
#alteracoes {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00000045;
    opacity: 0;
    transition: .5s opacity;
}
#alteracoes.fade-in {
    opacity: 1;
}
#alteracoes .e-button {
    max-width: 200px;
    justify-content: center;
    margin: 2px 10px;
}
#alteracoes .e-button img {
    margin: 0;
}
#alteracoes #texto {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgb(150,0,0);
    background-color: rgba(0,0,0,0.15);
}
textarea.red-input {
    margin-top: 0px;
}
