@media screen and (min-width: 600px){
    #frame {
        margin-top: 70px;
    }
}
@media screen and (min-width: 900px) {
    #frame {
        width: 900px;
    }
}
#container-titulo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
#container-titulo h1 {
    display: inline;
    margin: 0px 10px;
}
#container-titulo #share-container {
    display:flex;
    align-items: flex-end;
}
#container-titulo #share-container div{
    margin-left: 5px;
}
@media screen and (min-width: 600px) {
    #container-titulo {
        align-items: flex-end;
        flex-direction: row;
    }
    #container-titulo h1 {
        margin: 10px 30px;
    }
}

.select {
    width: 100%;
    margin: auto;
}
.e-card-container .nao-achou {
    display: block;
    margin-left: 15px;
}
.e-card-container .item {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid rgba(50,0,0,0.6);
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0px black;
    cursor: default;
    margin: 1px;
}
.e-card-container .item .texto {
    display: inline;
    padding: 3px;
    margin: 0px 10px;
}
.e-card-container .item .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    transition: .3s background-color;
}
.e-card-container .item .remove img {
    height: 15px;
    opacity: 0;
    transition: .3s opacity;
}
.e-card-container .item:hover .remove {
    border-left: 1px solid rgba(50,0,0,0.3);
}
.e-card-container .item:hover .remove img {
    opacity: 1;
}
.e-card-container .item .remove:hover {
    background-color: rgba(255,180,180,0.5);
    cursor: pointer;
}

.button-opa {
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.red-input {
    width: 100%;
    margin-top: 15px;
}
@media screen and (min-width: 900px) {
    #texto-container {
        display: flex;
    }
    #texto-container #campo-busca{
        flex: 5;
        width: auto;
        margin: 0px 0px 0px 10px;
    }
    #texto-container .select{
        flex: 3;
        width: auto;
        margin: 0px 10px 0px 0px;
    }
}

#filtro {
    margin-top: 40px;
}
#filtro .linha {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#filtro #texto-ordem {
    display: block;
    white-space: nowrap;
    margin: 0px 10px;
}
#filtro .select {
    width: 600px;
}
@media screen and (min-width: 900px) {
    #filtro {
        display: flex;
    }
    #filtro .linha {
        flex: 3;
    }
    #texto-ordem {
        text-align: right;
    }
    #filtro .select {
        width: 250px;
    }
    #filtro label{
        display: block;
        text-align: center;
        flex: 5;
    }	
}

#button-wrapper{
    text-align: center;
}
#bpesquisa, #p2 {
    margin: 30px auto 20px auto;
    max-width: 100%;
    width: 400px;
}

.popup .window {
    overflow-y: auto;
    max-height: 100%;
}
.popup .window #confirma-assuntos {
    width: 100%;
    margin: 15px 0px;
    padding: 10px 20px;
}
.popup .window h2 {
    margin: 5px 10px 10px;
}
.assunto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.assunto .checkslider.trail{
    margin: 10px;
}

#div-questoes .nao-achou {
    display: block;
    margin-left: 15px;
    font-weight: bold;
}

#resolucao img {
    display: none;
}
#resolucao img.visible {
    display: inline;
}

.popup .dialog {
    max-height: 100%;
    overflow-y: auto;
}
.popup .dialog .button-opa{
    margin-bottom: 10px;
    max-width: 100%;
    margin-top: 0px;
}
.popup .dialog .red-input{
    margin-top: 0px;
}
.popup .dialog #link{
    word-wrap: break-word;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    color: red;
    display: block;
    text-align: center;
    text-decoration: none;
}
.popup .dialog .select {
    margin-bottom: 10px;
}
.popup .dialog .container #nome {
    margin-right: 5px;
}
.popup .dialog .container #email {
    margin-left: 5px;
}
.popup .dialog .container .button-red {
    padding: 5px 10px;
    margin: 10px 0px;
    width: auto;
}
.popup .dialog .button-red#enviar,
.popup .dialog .button-red#page,
.popup .dialog .button-red#dprof,
.popup .dialog .button-red#download {
    padding: 5px 10px;
    margin: 10px 0px;
    width: 100%;
    display: block;
}
.popup .dialog .box {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(213,69,47,.2) inset;
}
.popup .dialog .container-rating span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    background-color: rgba(160,160,160,.3)
}
.popup .dialog .container-rating h3 {
    margin: 5px 20px;
}
.popup .dialog .container-rating {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.popup .dialog .star,
.popup .dialog .cog{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}
.popup .dialog .star{
    background-image: url(../icon/star_rating.png);	
}
.popup .dialog .cog{
    background-image: url(../icon/cog_rating.png);
}

