.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
	color: white;
	font-size: 24px;
	margin: 0px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../backgrounds/book.jpg');
}

body,html {
	height:100%;
}

.slide-1{
	height: 100vh;
	padding-top: 40vh;
}
#intro-msg {
	height: 25%;
	width: 100vw; 
}
#intro-msg p {
	margin: 0px 30px;
}
#intro-msg h1 {
	margin: 0px 30px 20px 30px;
}
@media screen and (min-width: 1200px) {
	.slide-1 {
		padding-top: 35vh;
	}
	#intro-msg {
		width: 50vw; 
	}
}

.slide-2{
	background-color: rgba(255, 0, 0, 0.2);
	padding-top: 50px;
	padding-bottom: 50px;
}
.slide-2 h1{
	margin: 20px 30px;
	text-align: center;
}

.btn-transp {
	border-top: 1px solid black;
	padding: 10px 0px;
	display: inline-block;
	text-align: center;
	background-color: rgba(100,0,0,0.3);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 24px;
	height: 50px;
	margin-top: 200px;
	width: 100%;
	cursor: pointer;
}
.btn-transp:hover,
#img-prof:hover > .btn-transp,
#img-aluno:hover > .btn-transp  {
	background-color: rgba(40,0,0,0.6);
}

#img-prof{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../backgrounds/class.jpg');
	background-size: 1135px;
	cursor: pointer;
}

#img-aluno{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../backgrounds/notes.jpg');	
	background-size: 1135px;
	cursor: pointer;
}
#img-prof,#img-aluno{
    /*background-attachment: fixed;*/
    margin: 20px 20px;
	background-repeat: no-repeat;
	height: 250px;
	text-align: center;
	border-radius: 7px;
}

@media screen and (min-width: 600px) {
	.slide-2 .linha{
		display: flex;
		justify-content: center;
	}
	#img-prof,#img-aluno{
		margin: 20px 30px;
		height: 200px;
		max-width: 400px;
		flex: 6;
	}
	.btn-transp {
		margin-top: 150px;
	}
	.slide-2{
		padding-top: 30px;
		padding-bottom: 300px;
	}
}

@media screen and (min-width: 1200px) {
	#img-prof,#img-aluno{
		margin: 20px 50px;
		height: 300px;
		max-width: 600px;
	}
	.btn-transp {
		margin-top: 250px;
	}
	.slide-2{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.slide-2 h1 {
		margin-bottom: 50px;
	}
}

.slide-3{
	background-color: rgba(255, 0, 0, 0.2);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}
.slide-3 .screenshot img {
	width: 100%;
}
.slide-3 div {
	font-size: 20px;
}
.slide-3 .linha {
	background-image: linear-gradient(rgba(164, 164, 164, 0.9), rgba(164, 164, 164, 0.9), rgba(164, 164, 164, 0.9), rgba(255,0,0,0.35));
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
}
@media screen and (min-width: 900px) {
	.slide-3 .linha {
		display: flex;
		align-items: center;
	}
	.slide-3 .linha .screenshot {
		flex: 7;
	}
	.slide-3 .linha .texto {
		flex: 5;
	}
	.slide-3 .inv-order .texto{
		order: 1;
	}
}
.slide-3 .texto p {
	padding: 0px 20px 70px 20px;
	margin:0;
}
.slide-3 .texto h2 {
	padding: 70px 20px 30px 20px;
	margin:0;
}

.separador {
	width: 100%;
	background-color: #b20;
	padding: 30px 30px 80px;
	margin: 0px;	
}
.separador p{
	margin: 0px;
	font-size: 24px;
}
@media screen and (min-width: 600px) {
	.separador.left {
		padding-right: 200px;
		text-align: left;
	}
	.separador.right {
		padding-left: 200px;
		text-align: right;
	}
}
@media screen and (min-width: 900px) {
	.separador {
		padding: 60px 50px;
	}
	.separador p{
		font-size: 30px;
	}
}

.slide-4 {
	padding-top: 50px;
	width: 100%;
}
.slide-4 h2{
	margin: 20px 30px;
	text-align: center;
}
@media screen and (min-width: 900px) {
	.slide-4 .linha{
		display: flex;
	}
}
.slide-4 .e-card {
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(255,200,200,0.2);
	box-shadow: 3px 3px 10px -2px black;
	text-shadow: 3px 3px 3px rgb(128,0,0);
	flex: 4;
}
.slide-4 .e-card .titulo {
	display: flex;
	align-items: center;
}
.slide-4 .e-card h3 {
	margin: 20px 10px 20px 0px;
}
@media screen and (min-width: 900px) {
	.slide-4 .e-card h3 {
		margin: 30px 10px 30px 0px;
	}
}
.slide-4 .e-card p {
	margin: 0px 20px 20px 20px;
}
.slide-4 .e-card img {
	height: 40px;
	width: 40px;
	margin: 0px 20px;
}

.slide-5 {
	width: 100%;
	text-align: center;
	padding: 100px 20px;
	background-color: rgba(0,0,0,0.3);
	font-size: 24px;
}
.slide-5 button {
	border: 1px solid rgb(128,128,128);
	border-radius: 8px;
	padding: 20px 40px;
	display: inline-block;
	text-align: center;
	background-color: rgba(150,0,0,0.4);
	font-size: 36px;
	margin: 50px auto;
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.slide-5 button:hover {
	background-color: rgba(40,0,0,0.6);
}
.slide-5 button.can-disable {
	width: 500px;
	max-width: 100%;
}
.slide-5 button.can-disable:disabled {
	background-color: rgba(70,70,70,0.7);
}
.slide-5 p, .slide-5 h1 {
	margin: 30px auto;
}
.slide-5 input, .slide-5 textarea {
	display: block;
	margin: 15px auto;
	width: 100%;
	max-width: 500px;
	font-size: 18px;
}
.slide-6 {
	width: 100%;
	text-align: center;
	padding: 100px 20px;
	background-color: rgba(0,0,0,0.3);
	font-size: 24px;
}
.slide-6 a {
	color: white;
	text-decoration: none;
}
@media screen and (min-width: 600px) {
	.slide-6 .cell {
		width: 49%;
	}
}
