#frame-wrapper{
    margin-bottom: 100px;
}
@media screen and (min-width: 600px){
    #frame {
        margin-top: 70px;
    }
}
@media screen and (min-width: 900px) {
    #frame {
        width: 900px;
    }
}

#container-titulo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
#container-titulo h1 {
    display: inline;
    margin: 0px 10px;
}
#container-titulo #share-container {
    display:flex;
    align-items: flex-end;
}
#container-titulo #share-container div{
    margin-left: 5px;
}
@media screen and (min-width: 600px) {
    #container-titulo {
        align-items: flex-end;
        flex-direction: row;
    }
    #container-titulo h1 {
        margin: 0px 30px;
    }
}
#div-questoes .nao-achou {
    display: block;
    margin-left: 15px;
    font-weight: bold;
}
#resolucao img {
    display: none;
}
#resolucao img.visible {
    display: inline;
}
.popup .dialog {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup .dialog .button-opa{
    margin-bottom: 10px;
}
.popup .dialog #link{
    box-shadow: 0px 0px 5px 0px black inset;
    word-wrap: break-word;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    margin: 0px;
    color: red;
    display: block;
    text-align: center;
    text-decoration: none;
}
.popup .dialog .select {
    margin-bottom: 10px;
}
.popup .dialog .container #nome {
    margin-right: 5px;
}
.popup .dialog .container #email {
    margin-left: 5px;
}
.popup .dialog .container .button-red {
    padding: 5px 10px;
    margin: 10px 0px;
    width: auto;
}
.popup .dialog .button-red#enviar,
.popup .dialog .button-red#page,
.popup .dialog .button-red#dprof,
.popup .dialog .button-red#download {
    padding: 5px 10px;
    margin: 10px 0px;
    width: 100%;
    display: block;
}
.popup .dialog .box {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(213,69,47,.2) inset;
}
.popup .dialog .container-rating span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    background-color: rgba(160,160,160,.3)
}
.popup .dialog .container-rating h3 {
    margin: 5px 20px;
}
.popup .dialog .container-rating {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.popup .dialog .star,
.popup .dialog .cog{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}
.popup .dialog .star{
    background-image: url(../icon/star_rating.png);	
}
.popup .dialog .cog{
    background-image: url(../icon/cog_rating.png);
}
