.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3;
	display: none;
}
.popup .dialog,
.popup .window,
.popup .message {
	max-width: 100%;
	background-color: #ccc;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
	padding: 15px;
	margin: auto;
}

.tooltip {
	position:absolute;
	display: none;
	background-color: #E87460;
	border: 1px solid black;
	border-radius: 3px;
	font-weight: bold;
	z-index: 1;
	padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
	color: white;
	text-shadow: 0px 0px 5px black;
}
  
.message {
	font-weight: bold;
	text-align: center;
	cursor: default;
}

.popup .dialog .container {
	display: flex;
	justify-content: center;
}
.popup .dialog form .container {
	justify-content: space-around;
}
.popup .dialog h2{
	margin: 0px 0px 5px 10px;
}
.popup .dialog p{
	margin: 0px 0px 10px 0px;
}
.popup .dialog .red-input {
	width: 100%;
}
.popup .dialog .button-red {
	font-size: 20px;
	padding: 5px 15px;
	margin: 0px 15px;
	width: 80px;
}
.popup .dialog form .button-red {
	padding: 0px 15px;
	margin-left: 15px;
	margin-right: 0px;
	width: auto;
}
