@media screen and (min-width: 600px){
    #frame {
        margin-top: 70px;
    }
}
@media screen and (min-width: 900px) {
    #frame {
        width: 900px;
    }
}
#share-container {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#share-container div{
    margin-left: 5px;
}

#div-questoes .nao-achou {
    display: block;
    margin-left: 15px;
    font-weight: bold;
}
@media screen and (min-width: 600px) {
    #resolucoes .rate-container {
        display: flex;
    }
}

h3 {
    margin-left: 20px;
    color: #636363;
}

#resolucoes li{
    display: flex;
    padding: 0;
    border-radius: 0px;
    border: 0;
    padding-right: 55px;
    margin-top: 65px;
    margin-bottom: 5px;
}
#resolucoes li.chosen{
    background-color: #decdcd;
}
#resolucoes .rate-container {
    background-color: transparent;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-direction: row;
    top: -40px;	
    margin: 5px;
}
#resolucoes .rate-container img{
    width: 40px;
    height: 30px;
    filter: grayscale(100%);
    cursor: pointer;
    padding: 0px 5px;
    margin: 5px;
}
#resolucoes .rate-container img.active{
    filter: grayscale(0%);
}
#resolucoes .rate-container .rate{
    text-align: center;
    color: #636363;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#resolucoes .texto {
    padding: 10px 0px 10px 15px; 
    width: 100%;
    font-size: 0.8em;
    font-family: monospace;
}
#resolucoes .buttons-container {
    position: absolute;
    top: -40px;
    right: 0;
    cursor: pointer;
    display: flex;
}
@media screen and (min-width: 600px) {
    #resolucoes li{
        margin-top: 5px;
    }
    #resolucoes .rate-container {
        background-color: #ddd;
        position: relative;
        flex-direction: column;
        top: 0;
        margin: 0px;
    }
    #resolucoes .rate-container img{
        margin: 0px;
    }
    #resolucoes .buttons-container {
        display: block;
        top: 0;
    }
}
#resolucoes .button {
    cursor: pointer;
}
#resolucoes .rate-container img:hover {
    filter: grayscale(50%);
}
#resolucoes .button:hover {
    background-color: rgba(0,0,0,0.2);
}
#resolucoes .button img{
    width: 50px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
}
#resolucoes .choose-res img{
    filter: grayscale(100%);
}
#resolucoes li.chosen .choose-res img{
    filter: grayscale(0%);
}

#resolucoes .img-container {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}
#resolucoes .img-resol {
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    box-shadow: 0px 0px 4px 3px rgba(232,116,96,0.5);
}
#resolucoes .img-resol img{
    border-radius: 5px;
    max-width: 100%;
    max-height: 500px;
}

#resolucoes .button-opa {
    width: 100%;
}
#resolucoes .button-opa .texto{
    width: auto;
    padding: 0px;
}
.res-info {
    margin-bottom: 20px;
    text-align: right;
    color: #636363;
    font-size: 0.9em;
}
